# Trigger the systemd service when a partition or whole-disk arrives that
# appears to have a filesystem.

ENV{ID_BUS}=="usb", ENV{DEVTYPE}=="disk", ACTION=="add", ,ENV{ID_FS_TYPE}!="", ENV{SYSTEMD_WANTS}+="add-iso-sources@%k.service"
ENV{ID_BUS}=="usb", ENV{DEVTYPE}=="partition", ACTION=="add", ENV{ID_FS_TYPE}!="", ENV{SYSTEMD_WANTS}+="add-iso-sources@%k.service"
