Source: add-iso-sources
Section: embedded
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Git: https://github.com/pragmatux/add-iso-sources.git
Vcs-Browser: https://github.com/pragmatux/add-iso-sources

Package: add-iso-sources
Architecture: all
Depends: mount-usb-media, ${misc:Depends}
Description: Add ISO format files as APT sources
 Scan newly arriving USB media for ISO format files containing APT
 archives and add them as APT sources.
